/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif color ;
  text-align: center;
  color: #eee;
  
  /* background: url('vegas.jpg') no-repeat; */
 
  
}

/* Input Forms*/
input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #00b8eb;
}

/* Header */
header {
  border-bottom: 2px solid rgb(252, 248, 248);
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none;
  color: rgb(25, 0, 255);
}


body {
	background-image: url("casino3.jpg");
	    /* Full height */
    background-size: cover;

}
.chip-icons{
	height: 50px;
	width: 50px;
	background: transparent;
}
#balance {
	width: 100%;
	height: 10%px;
	text-align: center;
	color: white;
}

.title-game {
	height: 230px;
	display: flex;
	justify-content: center;
	background-image: url('http://www.intepo.com/images/intepo.com-logo.png');
	background-repeat: no-repeat;
	background-position: center;
}

.roulette-buttons {
	display: inline-flex;
	width: 100%;
	justify-content:  space-between;
}


.roulette-game {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	float: right;
}

#report {
	width: 200px;
	height: 15%;
	text-align: center;
	color: white;
	word-wrap: break-word;

}

#MAGICAL-NUMBER {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 200px;
	height: 15%;
	text-align: center;
	font-size: 150px;
}

#instructions {
	width: 30%;
	font-size: 10px;
	color: white;
}

#roulette-table {
	float: right;
	height: 200px;
	background: green;
}

#first-row {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
}

#second-row {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
}

#third-row {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
}

.zero {
	background: green;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid grey;
	color: white;
}

.even {
	background: red;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid green;
	color: white;
}

.odd {
	background: black;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid green;
	color: white;
}










/*.chips {
	display: flex;
	justify-content: center;
}
.chip-value {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 50px;
	height: 50px;
	text-align: center;
	margin: auto;
}


.ui-draggable {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: auto;
}
*/